@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles */
.fw{
  max-width: 1320px;
  margin: 0 auto;
}
.text-center{
  text-align: center;
}
.btn-primary{
  width: 130px;
  height: 50px;
  color: rgba(255, 255, 255, 1);
  background-color: red;
  border: 0;
  border-radius: 5px;
  font-family: Inter;
  font-style: Bold;
  font-size: 20px;
  font-weight: 700;
}
.btn-primary:hover{
  background: none;
  border: 1px solid white;
}

/* Banner Styles */
.banner{
  background-image: linear-gradient(180.00deg, rgba(7, 2, 17, 1),rgba(7, 2, 17, 0) 100%), url(../assets/images/Banner\ Image.png);
  background-repeat: no-repeat;
  height: 600px;
  border-radius: 16px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner h3{
  width: 259px;
  height: 40px;
  color: rgba(255, 255, 255, 1);
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 15px;
}
.banner h1{
  width: 632px;
  height: 190px;
  color: rgba(255, 255, 255, 1);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-top: 0px;
}

/* 65% Offer Styles */
.offer{
  margin-top: 120px;
}
.offer h1{
  width: 383px;
  height: 107px;
  color: rgba(255, 0, 0, 1);
  font-family: Inter;
  font-style: Bold;
  font-size: 88px;
  font-weight: 700;
  margin: 0 auto;
}
.offer h4{
  width: 397px;
  height: 29px;
  color: rgba(255, 0, 0, 1);
  font-family: Inter;
  font-style: Medium;
  font-size: 24px;
  font-weight: 500;
  margin: 0 auto;
  margin-top: 50px;
}
.offer h2{
  width: 410px;
  height: 58px;
  margin: 0 auto;
  margin: 20px auto 50px auto;
}

/* Midnight-Party Styles */
.midnight-party{
  background-image:linear-gradient(90.00deg, rgba(7, 2, 17, 1),rgba(7, 2, 17, 0) 100%), url(../assets/images/Vectorrr.png);
  background-repeat: no-repeat;
  border-radius: 16px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 45px;
  margin-top: 120px;

}
.midnight-party h1{
  width: 642px;
  height: 176px;
  color: rgba(255, 255, 255, 1);
  font-family: Merriweather;
  font-style: Black;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 25px;
}
.midnight-party p{
  width: 697px;
  height: 60px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-style: Regular;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

/* Address Styles */
.address{
  height: 482px;
  border-radius: 16px;
  background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.address span{
  color: red;
}
.address button{
  margin-top: 50px;
}
.address button:hover{
  background: none;
  color: red;
  border: 1px solid red;
}

/* Coming Soon Styles */
.coming-soon{
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}
.coming-soon .text1{
  margin-right: 70px;
}
.coming-soon .text1 h4{
  width: 207px;
  height: 29px; 
  color: rgba(255, 0, 0, 1);
  font-family: Inter;
  font-style: Medium;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.coming-soon .text1 h2{
  width: 328px;
  height: 60px;
  color: rgba(7, 2, 17, 1);
  font-family: Merriweather;
  font-style: Black;
  font-size: 48px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 20px;
}
.coming-soon .text1 p{
  width: 393px;
  height: 128px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-style: Regular;
  font-size: 20px;
  font-weight: 400;
}
.coming-soon .img1{
  border-radius: 50%;
  border: 20px solid red;
  padding: 20px;
  margin-right: 115px;
}
.coming-soon .text2 h2{
  width: 126px;
  height: 58px;
  color: rgba(255, 0, 0, 1);
  font-family: Inter;
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
}
.coming-soon p{
  width: 276px;
  height: 96px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-style: Regular;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 45px;
}

/* Holidays Sale Styles */
.holiday-sale{
  margin-top: 120px;
}
.holiday-sale h4{
  width: 263px;
  height: 29px;
  color: rgba(7, 2, 17, 1);
  font-family: Inter;
  font-style: Medium;
  font-size: 24px;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 15px;
}
.holiday-sale h1{
  width: 677px;
  height: 91px;
  font-family: Merriweather;
  font-style: Black;
  font-size: 72px;
  font-weight: 900;
  margin: 0 auto;
  margin-bottom: 25px;
}
.holiday-sale h1 span{
  color: red;
}
.holiday-sale p{
  width: 1068px;
  height: 96px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-style: Medium;
  font-size: 20px;
  font-weight: 500;
  margin: 0 auto;
}
.holiday-sale .imgs .imgs1{
  display: flex;
}
.holiday-sale .imgs1 .tag{
  position: relative;
  top: 300px;
  right: 70px;
  z-index: 2;
}
.holiday-sale .imgs1 .girl{
  position: relative;
  top: 234px;
  right: 213px;
  z-index: 1;
}
.holiday-sale .imgs1 .box{
  position: relative;
  top: 200px;
  left: 5px;
}
.holiday-sale .imgs{
  margin-top: -150px;
}

/* Our Portfolio Styles */
.our-portfolio{
  margin-top: 120px;
}
.our-portfolio h4{
  width: 192px;
  height: 29px;
  color: rgba(255, 0, 0, 1);
  font-family: Inter;
  font-style: Medium;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.our-portfolio h2{
  width: 566px;
  height: 60px;
  color: rgba(7, 2, 17, 1);
  font-family: Merriweather;
  font-style: Black;
  font-size: 48px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 20px;
}
.our-portfolio p{
  width: 896px;
  height: 64px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-style: Regular;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
}
.our-portfolio .imgs .imgs1, .imgs2{
  display: flex;
}
 .our-portfolio .imgs img{
  margin: 0px 25px 25px 0px;
 }





