@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles */
.fw{
  max-width: 1320px;
  margin: 0 auto;
}
.text-center{
  text-align: center;
}

/* Banner Styles */
.banner{
  background-image: linear-gradient(180.00deg, rgba(7, 2, 17, 1),rgba(7, 2, 17, 0) 100%), url(../assets/images/Banner\ Image.png);
  background-repeat: no-repeat;
  height: 600px;
  border-radius: 16px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner h3{
  width: 259px;
  height: 40px;
  color: rgba(255, 255, 255, 1);
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 15px;
}
.banner h1{
  width: 632px;
  height: 190px;
  color: rgba(255, 255, 255, 1);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-top: 0px;
}